@CHARSET "EUC-KR";
		/* css 파일 위치를 잘 설정해주세요!!   WebContent 에 css 폴더를 만들어서 넣으시는거 추천 */
		/* 이제는 끝내고싶다 진짜 리얼 파이널 버전  */
		/* 연정이가 만들었으니 질문은 저한테 주시면 됩니다.  */

		/* 기본 설정 */
		a:link { color: white; text-decoration: none;}
	    a:visited { color: white; text-decoration: none;}
	    a:hover { color: #615F8D; text-decoration: none;}
		body {font-family :"나눔바른고딕","맑은 고딕",Dotum,"돋움",Arial,sans-serif;
			  font-size : 10pt;}
			  
		/* 로딩 설정 */
		.mainframe fildset .loader{
        		position:absolute;
        		width:100%;
        		height: 100%;
        		background-color: rgba(0, 0, 0, 0.3);
        		display:none;
        }
		.mainframe .loader img{
				position: absolute;
				margin: 200px 0 0 -619px;
				
		}
		
		/*ge_maindiv : bottom과 side메뉴와 mainframe(가운데보여주는창)을 포함한 div태그*/
		.ge_maindiv{
				border: hidden;
				margin-bottom:0px;
		}

		.jenjagyeoljae:hover{
				color: #615F8D;
				text-decoration: none;
		}

		/*outertable side메뉴와 mainframe을 감싸는 div태그*/
		.outertable{
				border: hidden;
				display:table;
				width: 1200px;
				height: auto;
				margin:auto;
				border-collapse: separate;
			    border-spacing: 0px;
		}
		/*topinfo : myname과 logout div를 포함하는 div태그*/
		.topinfo{
				padding: 0 0 0 0 ;
				margin:auto;
				margin-top:-4px;
				margin-bottom:2px;
				display:table;
				width: 1170px;
				height:5px;
				color: #404040;
		}
		/* footer */
		.bottom{
				display:table;
				width: 1150px;
				margin:auto;
				margin-bottom:0px;
				padding: 5px 15px 5px 15px;
				background:#D8D8D8;
				height:100px;
			    border: 1px solid #cccccc;
			    border-radius:1px;
			    color: #404040;
		}
		/* footer에 들어가는 text 설정 */
		.bottominfo{
				display:table-cell; 
				text-align:right; 
				vertical-align:bottom;
		}
		/* topinfo에 포함된 div태그들 */
		.myname{
				display:table-cell; 
				text-align:left; 
				vertical-align:middle;
		}
		.logout{
				display:table-cell; 
				width:50px;
				text-align:right;
				cursor:pointer;
				vertical-align:middle;
		}
		/* 상단 메뉴와 outertable div태그 중간에 있는 공백  */
		.topdiv{
				margin:auto;
				height: 25px;
				border: hidden;
		}
		/* 상단 메뉴 */
		.topmenu{
				display:table;
				width: 1150px;
				margin:auto;
				padding: 5px 15px 5px 15px;
				background:#D8D8D8;
				height:50px;
			    border: 1px solid #cccccc;
			    border-radius:1px;
			    font-size:18px;
			    color:white;
		}
		/* topmenu(상단메뉴) 텍스트 설정 */
		.p{
				display:table-cell; 
				text-align:right; 
				vertical-align:middle;
		}
		/* ge_sidemenu 왼쪽 사이드메뉴 */
		.ge_sidemenu{
				padding: 10px 0 0 10px;
				width:150px;
				display:table-cell; 
				float: left;
				margin:auto;
				border: none;
				border-collapse: separate;
			    border-spacing: 10px;
		}
		/* 사이드메뉴 안에 있는 내 정보 */
		.ge_myinfo{
				margin: 0;
				width: 148px;
				padding: 0;
				margin-bottom:10px;
				background:#D8D8D8;
				border:1px solid #BDBDBD;
				border-radius:1px;
		}
		/* 사이드 메뉴 안에 있는 내 정보의 text 부분 */
		.itsme{
				margin: auto;
				text-align:center;
				margin-bottom:15px;
		}
		/* 메인 내용이 들어가야할 위치. */
		.mainframe{
				display:table-cell; 
				float: left;
				width: 1028px;
				height: auto;
				margin: auto;
				border: hidden;
		}
		/* 캘린더 감싸는 테이블 */
		.calframe{
				dispaly: table-cell;
				width:auto;
				height:auto;
				margin:auto;
				padding:0;
				border:hidden;
				text-align:center;
				
		}
		/*  이 이하는 gemain에서 사용하는 4분할 메뉴 설정  */
		.ge_menu1,.ge_menu2,.ge_menu3,.ge_menu4{
				border:none;
				padding: 0px;
				margin: auto;
				float: left;
				width: 49%;
				height: 47%;
			    margin:auto;
			    margin-top: 10px;
			    margin-left: 10px
		}
		table.inner_menu{
				width: 100%;
				border-collapse: separate;
				border:hidden;
			    border-spacing: 0px;
			    margin:auto;
			    color: #404040;
		}
		.inner_menu th{
				border-bottom: 1px solid #d9d9d9;
				height:30px;
				font-size:14px;
		}
		.inner_menu td{
				border-bottom: 1px dotted #d9d9d9;
				height:30px;
		}
		.inner_menu td:nth-child(2),.inner_menu td:nth-child(3){
				text-align:center;
		}
		.inner_menu td:nth-child(1){
				cursor:pointer;
		}
		.inner_menu tr:hover{
				background-color: #F2F2F2;
		}
		.inner_menu tr:nth-child(1):hover{
				background-color: #FFFFFF;
		}
		
		.maintb_1,.maintb_2,.maintb_3,.maintb_4{
				margin:auto;
				overflow-y:auto;
				overflow-x:hidden;
				padding:0;
				border: hidden;
		}
		.getitle{
				display:table;
				width: 100%;
				height: 25px;
				background-color: #D8D8D8;
				color: white;
				border-top:hidden;
				border-radius:1px;
		}
		.t{
				display:table-cell; 
				text-align:left; 
				vertical-align:middle;
				font-size:12pt;
				padding-left: 5px;
		}
		/* ge_myinfo에 있는 내 사진 */
		.myimg{
				display: block; 
				margin: auto;
				width: 120px;
    			height: auto;
    			object-fit: cover;
		}	
		/* ge_myinfo에 img 를 자르는 틀 */
		.imgbox{
			margin:auto;
			margin-top:15px;
			background:#D8D8D8;
			width: 120px;
		    height: 150px; 
		    border-radius: 3%;
		    overflow: hidden;
		}
		/* 출퇴근 있는 위치 */
      .clocktimeT{
         padding: 0px;
         vertical-align:middle;
         margin: auto;
         margin-bottom: 12px;  
      }
      /* 출퇴근버튼 */
      .button1 {
            background-color: #ffffff; /* Green */
            border: none;
            color: #404040;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            border-radius:1px;
      }
		/* 사이드메뉴 버튼 */
		.menubtn{
				width:150px;
				height:30px;
				border:1px solid #cccccc;
				border-radius:1px;
				background:#D8D8D8;
				float:left;
				text-align:center;
				cursor:pointer;
				position:relative;
				box-sizing:border-box;
				overflow:hidden;
				margin:0 0 10px 0px;
		}
		.menubtn a{
				font-family:"나눔바른고딕";
				font-size:16px;
				color:#ffffff;
				text-decoration:none;
				line-height:30px;
				transition:all .5s ease;
				z-index:2;
				position:relative;
		}
		.mbtneff{
				width:150px;
				height:30px;
				bottom:-30px;
				background:#ffffff;
				position:absolute;
				transition:all .5s ease;
				z-index:1;
		}

		.menubtn:hover a{
				color:#615F8D;
		}