@CHARSET "EUC-KR";
/*
		
		mainframe : 정보가 나타날 main frame
		
	*/
		a:link { color: white; text-decoration: none;}
	    a:visited { color: white; text-decoration: none;}
	    a:hover { color: #615F8D; text-decoration: none;}
		body {font-family :"나눔바른고딕","맑은 고딕",Dotum,"돋움",Arial,sans-serif;
			  font-size : 10pt;}
		
		table.ct_List{
				width: 100%;
				border-collapse: separate;
				border:hidden;
			    border-spacing: 0px;
			    margin:auto;
			    color: #404040;
		}
		.ct_List th{
				border-bottom: 1px solid #d9d9d9;
				height:40px;
				font-size:15px;
				background-color: #D8D8D8;
				cursor:Default;
		}
		.ct_List td{
				border-bottom: 1px dotted #d9d9d9;
				height:40px;
		}
		.ct_List td:nth-child(3){
				cursor:pointer;
		}
		.ct_List tr:hover{
				background-color: #F2F2F2;
		}
		.ct_List tr:nth-child(1):hover{
				background-color: #FFFFFF;
		}
		
		.button1 {
				background-color: #D8D8D8; /* Green */
				border: none;
				color: white;
				padding: 5px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 12px;
				border-radius:1px;
		}
		
		ol,ul{list-style:none} 
		.cal_container{
				text-align:center;
				width:100%; 
				margin:auto;
				border: 1px solid blue;
		}
        .paging_container{
        		text-align:center;
        		border: 1px solid orange;
        		padding-top:10px;
        }
        .paging_container a{
        		color: black;
        }
        select {
        		height:30px;
				width: 150px;
				padding: 0 0 0 10px;
				border: 1px solid #999;
				font-family: inherit;
				background: url('/ge/arrow.png') no-repeat 95% 50%;
				border-radius: 1px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
		}
		.formsearch{
				margin:auto;
				float:auto;
				padding:0;
				border: 1px solid pink;
				display:table-cell; 
		}
		.tableContainer{
				margin:auto;
				float:auto;
				padding:0;
				border: 1px solid skyblue;
		}