@CHARSET "EUC-KR";
/*
		
		mainframe : 정보가 나타날 main frame
		
	*/
	
		
		a:link { color: white; text-decoration: none;}
	    a:visited { color: white; text-decoration: none;}
	    a:hover { color: #615F8D; text-decoration: none;}
		body {font-family :"나눔바른고딕","맑은 고딕",Dotum,"돋움",Arial,sans-serif;
			  font-size : 10pt;}
		
		/* 로딩 설정 */
		.mainframe fildset .loader{
        		position:absolute;
        		width:100%;
        		height: 100%;
        		background-color: rgba(0, 0, 0, 0.3);
        		display:none;
        }
		.mainframe .loader img{
				position: absolute;
				margin: 200px 0 0 -619px;
				
		}
		 
		.doccdformbuttonplace{
				margin:auto;
				padding:0;
				display:table-cell; 
				margin-left:558px;
				float:left;	
		}

		.ealinebuttonarray{
				margin:auto;
				padding:0;
				width:100%;
				display:table;
		}
		.doccdformbuttonplace1{
				margin:auto;
				padding:0;
				margin-right:-3px;
				display:table-cell; 
				float:right;
		}
		
		.ealineformback{
				margin:auto;
				padding:0;
				margin-left:3px;
				display:table-cell; 
				float:left;
		}
		
		.ge_maindiv{
				border: hidden;
				margin-bottom:0px;
		}
		.outertable{
				border: hidden;
				display:table;
				width: 1200px;
				height: auto;
				margin:auto;
				border-collapse: separate;
			    border-spacing: 0px;
			    overflow-y:hidden;
			    padding-bottom:40px;
		}
		.topinfo{
				padding: 0 0 0 0 ;
				margin:auto;
				margin-top:-4px;
				margin-bottom:2px;
				display:table;
				width: 1170px;
				height:5px;
				color: #404040;
		}
		.bottom{
				display:table;
				width: 1150px;
				margin:auto;
				margin-bottom:0px;
				padding: 5px 15px 5px 15px;
				background:#D8D8D8;
				height:100px;
			    border: 1px solid #cccccc;
			    border-radius:1px;
			    color: #404040;
		}
		.bottominfo{
				display:table-cell; 
				text-align:right; 
				vertical-align:bottom;
		}
		.myname{
				display:table-cell; 
				text-align:left; 
				vertical-align:middle;
		}
		.logout{
				display:table-cell; 
				width:50px;
				text-align:right;
				cursor:pointer;
				vertical-align:middle;
		}
		.filedown{
				width:13px;
				height:13px;
				text-align:left;
				cursor:pointer;
				vertical-align:middle;
		}
		.tomain{
				display:table-cell; 
				width:20px;
				text-align:right;
				cursor:pointer;
				vertical-align:middle;
		}
		.topdiv{
				margin:auto;
				height: 25px;
				border: hidden;
		}
		.topmenu{
				display:table;
				width: 1150px;
				margin:auto;
				padding: 5px 15px 5px 15px;
				background:#D8D8D8;
				height:50px;
			    border: 1px solid #cccccc;
			    border-radius:1px;
			    font-size:18px;
			    color:white;
		}
		.p{
				display:table-cell; 
				text-align:right; 
				vertical-align:middle;
		}
		
		.ge_sidemenu{
				padding: 10px 10px 0 10px;
				width:150px;
				height: 438px;
				display:table-cell; 
				float: left;
				margin:auto;
				border: hidden;
				border-collapse: separate;
			    border-spacing: 10px;
		}
		.ge_myinfo{
				margin: 0;
				width: 148px;
				padding: 0;
				margin-bottom:10px;
				background:#D8D8D8;
				border:1px solid #BDBDBD;
				border-radius:1px;
		}
		.itsme{
				margin: auto;
				text-align:center;
		}
		.mainframe{
				display:table-cell; 
				padding: 10px 0 0 0;
				float: left;
				width: 1007px;
				height: 650px;
				margin-left: 180px;
				border: hidden;
		}
		/* ge_myinfo에 있는 내 사진 */
		.myimg{
				display: block; 
				margin: auto;
				width: 120px;
    			height: auto;
    			object-fit: cover;
		}	
		/* ge_myinfo에 img 를 자르는 틀 */
		.imgbox{
			margin:auto;
			margin-top:15px;
			background:#D8D8D8;
			width: 120px;
		    height: 150px; 
		    border-radius: 3%;
		    overflow: hidden;
		}		
		
		.button {
				background-color: #D8D8D8; /* Green */
				border: none;
				color: white;
				padding: 5px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 12px;
				border-radius:1px;
		}
		.button:hover{
				background-color: #ededed;
				cursor:pointer;
		}
		
		.menubtn{
				width:150px;
				height:30px;
				border:1px solid #cccccc;
				border-radius:1px;
				background:#D8D8D8;
				float:left;
				text-align:center;
				cursor:pointer;
				position:relative;
				box-sizing:border-box;
				overflow:hidden;
				margin:0 0 10px 0px;
		}
		.menubtn a{
				font-family:"나눔바른고딕";
				font-size:16px;
				color:#ffffff;
				text-decoration:none;
				line-height:30px;
				transition:all .5s ease;
				z-index:2;
				position:relative;
		}
		.mbtneff{
				width:150px;
				height:30px;
				bottom:-30px;
				background:#ffffff;
				position:absolute;
				transition:all .5s ease;
				z-index:1;
		}

		.menubtn:hover a{
				color:#615F8D;
		}	

		.tit{
				display:table;
				height: 50px;
				color: #404040;		
				border-left:15px solid #e3e7e8;
		}
		.title{
				display:table-cell;
				text-align:left;
				vertical-align:middle;
				font-size:30px; 
				
		}
		.fixincenter1{
				margin: auto;
				padding: 0;
				width:700px;
				height:auto;
				border: hidden;
		}
		table.eawritetable1,table.eawritetable2,table.eawritetable3{
				width: 700px;
				border-collapse: separate;
				border:hidden;
			    border-spacing: 0px;
			    margin:auto;
			    color: #404040;
			    border: hidden;
			    vertical-align:middle;
			    border-radius:1px;
			    text-align:center;
			    
		}
		.eawritetable1 th,.eawritetable2 th,.eawritetable3 th{
				border: hidden;
				height:30px;
				font-size:15px;
				border-bottom:1px solid #d9d9d9;
				background-color:#D8D8D8;
				cursor:Default;
				align:center;
				font-color: white;
		}
		.eawritetable1 td,.eawritetable2 td,.eawritetable3 td{
				border-bottom:1px solid #d9d9d9;
				height:30px;
				font-size:14px;
				cursor:Default;
				align:center;
		}
		.eawritetable1 td:nth-child(1){
				text-align:center;
				background-color:#F2F2F2;
				width: 100px;
				border-radius:1px;
		}
		.eawritetable1 td:nth-child(2){
				padding-left:20px;
		}
		.eawritetable2 td:nth-child(1){
				text-align:center;
				background-color:#F2F2F2;
				width: 100px;
				border-radius:1px;
		}
		.eawritetable1 td:nth-child(2){
				text-align:left;
		}
		
		.docinfo{
				margin-top:0px;
				padding:0;
				vertical-align:middle;
				font-size:12px;
				color:#d9d9d9;
				padding-bottom:20px;
		}
		/* 출퇴근 있는 위치 */
		.clocktimeT{
			padding: 0px;
			vertical-align:middle;
			margin: auto;
			margin-bottom: 12px;  
		}
/*			추가한 부분				*/
		.tit1{
				display:table;
				height: 50px;
				color: #404040;		
				border-left:15px solid #e3e7e8;
				margin: 10px;
		}
		.mainframe1{
				display:table-cell; 
				padding: 10px 0 0 0;
				float: left;
				width: 800px;
				height: auto;
				margin: auto;
				padding-left: 110px;
				border: hidden;
				
		}
		
		.mainframe1 fildset .loader{
        		position:absolute;
        		width:100%;
        		height: 100%;
        		background-color: rgba(0, 0, 0, 0.3);
        		display:none;
        }
		
		.mainframe1 .loader img{
				position: absolute;
				margin: 200px 0 0 -619px;
				
		}
		
		.tableContainer1{
				margin:auto;
				float:auto;
				padding:0;
				border: hidden;
				margin: 10px;
		}
		
		.ge_myinfo1{
				margin: 0;
				width: 148px;
				height:234px;
				padding: 0;
				margin-bottom:10px;
				background:#D8D8D8;
				border:1px solid #BDBDBD;
				border-radius:1px;
		}
