<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 					 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 id="Java142_Project_GE" version="3.1">
  <display-name>Java142_Project_GE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- ======================한글처리설정====================== -->
	  <filter>
	  		<filter-name>encodingFilter</filter-name>
	  		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
			<init-param>
				<param-name>encoding</param-name>
				<param-value>EUC-KR</param-value>
			</init-param>
			<init-param>
				<param-name>forceEncoding</param-name>
				<param-value>true</param-value>		
			</init-param> 
	  </filter>
	  <filter-mapping>
	  		<filter-name>encodingFilter</filter-name>
	  		<url-pattern>/*</url-pattern>
	  </filter-mapping>
  <!-- =================스프링 관련 설정  ================= -->
	<servlet>
  			<servlet-name>spring</servlet-name>
  			<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  			<init-param>
  				<param-name>contextConfigLocation</param-name>
  				<param-value>/WEB-INF/framework/*.xml</param-value>
  			</init-param>
  		<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
  			<servlet-name>spring</servlet-name>
  			<url-pattern>*.ge</url-pattern>
  	</servlet-mapping>
</web-app>